* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #282c2f;
}

.content {
  flex: 1 0 auto;
}

.backdrop {
  background: url("../../assets/images/stage.jpg") no-repeat center -160px;
  background-size: cover;
  height: 100vh;
  left: 0;
  opacity: .33;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.profile-photo {
  position: relative;
  text-align: center;
  top: 45%;
  transform: translateY(-50%);
  z-index: 20;
}

.scoreboard {
  margin: 1em 1.5em;
  position: relative;
  z-index: 40;
}

.player-hp,
.cpu-hp {
  background-color: #f5f706;
  border: 3px solid #fff;
  border-radius: 6px;
  height: 40px;
  width: 100%;
}
.player-hp div,
.cpu-hp div {
  background-color: rgba(255, 0, 0, .75);
  display: inline-block;
  height: 100%;
}

.ko {
  color: #fff;
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: -4pt;
  position: relative;
  text-align: center;
  text-shadow: 3px 3px 0 black;
  top: -3px;
  width: 192px;
}

.hp-10 { width: 10% }
.hp-20 { width: 20% }
.hp-30 { width: 30% }
.hp-40 { width: 40% }
.hp-50 { width: 50% }
.hp-60 { width: 60% }
.hp-70 { width: 70% }
.hp-80 { width: 80% }
.hp-90 { width: 90% }
.hp-100 { width: 100% }

.gameboard {
  background-color: #3c4043;
  position: relative;
  z-index: 30;
}

.letter {
  background-color: #ccc;
  color: #333;
  display: inline-block;
  font: 4rem/1 "VT323", monospace;
  margin: .25em 0 .25em .18em;
  padding: .5em;
  text-transform: uppercase;
}
.letter:first-child {
  margin-left: 0;
}
.letter-inactive {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

.question {
  position: relative;
  top: -64px;
  width: 256px;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.align-justify-center {
  align-content: center;
  justify-content: center;
}