* {
  box-sizing: border-box;
}

body {
  align-content: center;
  background-color: #282c2f;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.profile-photo {
  text-align: center;
}

.question {
  width: 256px;
}